# Abrange IDEs JetBrains: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio, WebStorm e Rider
# Referência: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# Coisas específicas do usuário
.idea / ** / workspace.xml
.idea / ** / tasks.xml
.idea / ** / usage.statistics.xml
.idea / ** / dicionários
.idea / ** / prateleira

# Específico do usuário da AWS
.idea / ** / aws.xml

# Arquivos gerados
.idea / ** / contentModel.xml

# Arquivos sensíveis ou de alta rotatividade
.idea / ** / dataSources /
.idea / ** / dataSources.ids
.idea / ** / dataSources.local.xml
.idea / ** / sqlDataSources.xml
.idea / ** / dynamic.xml
.idea / ** / uiDesigner.xml
.idea / ** / dbnavigator.xml

# Grade
.idea / ** /gradle.xml _
.idea / ** / bibliotecas

# Gradle e Maven com importação automática
# Ao usar Gradle ou Maven com importação automática, você deve excluir arquivos de módulo,
# já que eles serão recriados e podem causar churn. Descomente se estiver usando
# importação automática.
# .ideia/artefatos
# .idea/compiler.xml
# .idea/jarRepositories.xml
# .idea/modules.xml
# .idea/*.iml
# .idea/modules
# *.iml
# *.ipr

#CMake _
cmake-build- * /

# Plugin Mongo Explorer
.idea / ** /mongoSettings.xml _

# Formato de projeto baseado em arquivo
* .iws

#IntelliJ _
fora /

# plugin mpeltonen/sbt-idea
.idea_modules /

# plugin JIRA
atlassian-ide-plugin.xml

# Plugin Cursive Clojure
.idea / replstate.xml

# Plugin SonarLint
.idea / sonarlint /

# Plugin Crashlytics (para Android Studio e IntelliJ)
com_crashlytics_export_strings.xml
propriedades do crashlytics
crashlytics-build.properties
tecido.propriedades

# Cliente Rest baseado em Editor
.idea / httpRequests

# Arquivo de cache serializado do Android studio 3.1+
.idea / caches / build_file_checksums.ser